<div class="box header">
    <div class="twelve items u-text-center">
        <h1 class="u-inline">forthright48</h1>
        <h5 class="u-inline"> /{{subtitle}}<h5>
    </div>
</div>

<div class="box navbar">
    <div class="any items">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="http://blog.forthright48.com">Blog</a></li>
            <li><a href="/problem-creation">Problem Creation</a></li>
        </ul>
    </div>
    <div class="any items">
        <ul>
            <li class="u-flex-pull-right"><a href="/login">Login/Register</a></li>
        </ul>
    </div>
</div>

<hr>
