<div class="box u-fill-view u-flex-top">
    <div class="any item">
        <div class="u-text-center">
            <a href="/gateway/getChildren/{{data.parentId}}"><i class="fa fa-level-up" aria-hidden="true"></i> Go Up</a>
        </div>
        <div>
            <h1>{{data.name}}</h1>
            {{{data.body}}}
        </div>
    </div>
</div>
