{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "node": true
    },
    "rules": {
        "comma-dangle": 2,
        "no-cond-assign": 2,
        "no-constant-condition": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty": 2,
        "no-ex-assign": 2,
        "no-extra-boolean-cast": 2,
        "no-extra-semi": 2,
        "no-func-assign": 2,
        "no-inner-declarations": 2,
        "no-irregular-whitespace": 2,
        "no-negated-in-lhs": 2,
        "no-obj-calls": 2,
        "no-sparse-arrays": 2,
        "no-unexpected-multiline": 2,
        "no-unreachable": 2,
        "use-isnan": 2,
        "valid-typeof": 2,
        "no-case-declarations": 2,
        "no-empty-pattern": 2,
        "no-fallthrough": 2,
        "no-octal": 2,
        "no-redeclare": 2,
        "no-self-assign": 2,
        "no-unused-labels": 2,
        "no-delete-var": 2,
        "no-undef": 2,
        "no-unused-vars": 2,
        "prefer-const": 2,
        "no-const-assign": 2,
        "no-var": 2,
        "no-new-object": 2,
        "object-shorthand": 1,
        "quote-props": ["error", "as-needed"],
        "no-array-constructor": 2,
        "array-callback-return": 2
    }
}
