{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": [2, 'never'],
    "no-cond-assign": 2,
    "no-constant-condition": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-sparse-arrays": 2,
    "no-unexpected-multiline": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-typeof": 2,
    "no-case-declarations": 2,
    "no-empty-pattern": 2,
    "no-fallthrough": 2,
    "no-octal": 2,
    "no-redeclare": 2,
    "no-self-assign": 2,
    "no-unused-labels": 2,
    "no-delete-var": 2,
    "no-undef": 2,
    "no-unused-vars": 1,
    "prefer-const": 2,
    "no-const-assign": 2,
    "no-var": 2,
    "no-new-object": 2,
    "object-shorthand": 1,
    "quote-props": ["error", "as-needed"],
    "no-array-constructor": 2,
    "array-callback-return": 2,
    "quotes": [2, "single"],
    "prefer-template": 2,
    "no-useless-escape": 2,
    "wrap-iife": 2,
    "no-loop-func": 2,
    "prefer-rest-params": 2,
    "no-param-reassign": 1,
    "dot-notation": 2,
    "one-var": [2, 'never'],
    "eqeqeq": 2,
    "no-nested-ternary": 2,
    "no-unneeded-ternary": 2,
    "brace-style": 2,
    "indent": ["error", 2],
    "space-before-blocks": 2,
    "keyword-spacing": 2,
    "space-infix-ops": 2,
    "no-whitespace-before-property": 2,
    "newline-per-chained-call": 2,
    padded-blocks: ["error", "never"],
    "space-in-parens": 2,
    "array-bracket-spacing": 2,
    "object-curly-spacing": ["error", "always"],
    "max-len": [2, 100],
    "comma-style": 2,
    "semi": 2,
    "radix": 2,
    "camelcase": 2,
    "new-cap": [2, {'capIsNewExceptions': [express.Router]} ],
    "no-underscore-dangle": [2, { "allow": ['_id'] }]
  }
}
