<div class="box fill-view">
    <div class="twelve items u-text-center">
            <h3>Just a regular Manga lover</h3>
            <p>
                competitive programmer and novice developer
            </p>
    </div>
</div>
