<div class="row header">
    <div class="tweleve columns u-text-center">
        <h1 class="u-inline">forthright48</h1>
        <h5 class="u-inline"> /home<h5>
        </div>
    </div>

    <div class="row home-toc">
        <div class="tweleve columns u-text-center">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/problem-creation">Problem Creation</a></li>
                <li>CPPS Notebook</li>
                <li>Gateway</li>
            </ul>
        </div>
    </div>
</div>
