<!DOCTYPE html>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>forthright48</title>

        <link rel="stylesheet" href="/css/normalize.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="/css/skeleton.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">

        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <div class="container">
            <div class="row header">
                <div class="tweleve column u-text-center">
                    <h1>forthright48</h1>
                </div>
            </div>

            <div class="row home-toc">
                <div class="tweleve column u-text-center">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Problem Creation</li>
                        <li>CPPS Notebook</li>
                        <li>Gateway</li>
                    </ul>
                </div>
            </div>
        </div>

    </body>
</html>
