<!DOCTYPE html>

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>forthright48</title>

    <link rel="stylesheet" href="/css/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/skeleton.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

</head>

<body>
    <div class="container">
        {{> header subtitle=subtitle }}
        {{{body}}}

        <div class="row">
            <div class="twelve columns u-text-center">
                <p>
                    &copy; 2016 Mohammad Samiul Islam All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</body>

</html>
