<!DOCTYPE html>

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>forthright48</title>

    <!-- For Cool Icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/skeleton.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

</head>

<body>
    <div class="container">
        {{> header layoutContext.header }}
        {{{body}}}

        {{> footer }}
    </div>
</body>

</html>
