<div class="box u-fill-view">
    <div class="any items">
        <form>
            <div class="box">
                <div class="any items">
                        <label for="index">Index:</label>
                        <input class="u-full-width" type="number" id="index" name="index" value="">
                </div>
                <div class="any items">
                        <label for="usedIn">Used In:</label>
                        <select class="u-full-width" id="usedIn" name="usedIn">
                            <option value="HackerRank">HackerRank</option>
                            <option value="ProgKriya">ProgKriya</option>
                            <option value="SPOJ">SPOJ</option>
                        </select>
                </div>
            </div>

            <div class="box">
                <div class="any items">
                        <label for="name">Name:</label>
                        <input class="u-full-width" type="text" id="name" name="name" value="">
                </div>
                <div class="any items">
                        <label for="link">Link:</label>
                        <input class="u-full-width" type="text" id="link" name="link" value="">
                </div>
            </div>

            <div class="box">
                <div class="any items u-text-center">
                        <input type="submit" formmethod="post" formaction="/admin/problem-creation/insert" value="Insert">
                </div>
            </div>
        </form>
    </div>
</div>
