<div class="box">
    <div class="twelve items">
        <table align="center" class="u-full-width">
            <thead>
                <th>Index</th><th>Name</th><th>Used In</th>
            </thead>
            <tbody>
                {{#each data}}
                    <tr>
                        <td>{{index}}</td><td>{{name}}</td><td> <a href="{{link}}">{{usedIn}} </a> </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
