extend ../layout.pug

block content
    .box.u-fill-view
        .any.items.u-text-center
            h1 Email Activation
            p You need to verify your email address in order to use this site.
            p Your current email address is:
                b #{ " " + email}

            a.button(href="/users/send-activation-link") Send Activation Link
            span= " "
            a.button(href="/users/edit-profile") Change Email
