<!-- TODO: Hints for filling form and validation -->

<div class="box u-fill-view">
    <div class="any items">
        <form>

            <div class="box">
                <div class="four items offset-by-four">
                        <label for="username">Username</label>
                        <input class="u-full-width" type="text" id="username" name="username" placeholder="letters and numbers only" required pattern="[a-zA-Z0-9]+">
                </div>
            </div>

            <div class="box">
                <div class="four items offset-by-four">
                        <label for="password">Password</label>
                        <input class="u-full-width" type="password" id="password" name="password" required>
                </div>
            </div>

            <div class="box">
                <div class="two items offset-by-four">
                        <input class="u-full-width" type="submit" formmethod="post" formaction="/users/login" value="Login">
                </div>
                <div class="two items">
                        <input class="u-full-width" type="submit" formmethod="post" formaction="/users/register" value="Register">
                </div>
            </div>

        </form>

    </div>
</div>
