<div class="box u-fill-view">
    <div class="any items">
        <form>

            <div class="box">
                <div class="four items offset-by-four">
                        <label for="username">Username</label>
                        <input class="u-full-width" type="text" id="username" >
                </div>
            </div>

            <div class="box">
                <div class="four items offset-by-four">
                        <label for="password">Password</label>
                        <input class="u-full-width" type="password" id="password">
                </div>
            </div>

            <div class="box">
                <div class="two items offset-by-four">
                        <button class="u-full-width" type="button" name="button">Login</button>
                </div>
                <div class="two items">
                        <button class="u-full-width" type="button" name="button">Register</button>
                </div>
            </div>

        </form>
    </div>
</div>
