extends ../layout.pug

block content

    // TODO: Hints for filling form and validation
    .box.u-fill-view
        .any.items
            form
                .box
                    .six.items.offset-by-three
                        label(for="username") Username
                        input.u-full-width(type="text", id="username", name="username" placeholder="letters, numbers & underscores only", required, pattern="^[a-zA-Z0-9_]+$")
                .box
                    .six.items.offset-by-three
                        label(for="password") Password
                        input.u-full-width(type="password", id="password", name="password", required)
                .box
                    .six.items.offset-by-three
                        label(for="email") Email
                        input.u-full-width(type="email", id="email", name="email", required)
                .box
                    .six.items.offset-by-three
                        input.u-full-width(type="submit", formmethod="post", formaction="/users/register", value="Register")
